# Python bytecode
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv/
env/
venv/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# PyCharm
.idea/
